<%= render "shared/header" %>

<div class='main'>

  <%# 体験一覧%>
  <div class='experience-contents'>
    <h2 class='title'>ピックアップ</h2>
    <div class='subtitle'>
      体験一覧
    </div>
    <ul class='experience-list'>
    
    </ul>
  </div>
  <%# /体験一覧%>
</div>
  <%# 下部広告一覧%>
  <%= render "shared/footer" %>
  <%# /下部広告一覧%>