/* 画面上部写真部分*/
.title-contents{
  background-color: #2e83ad;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40vh 0;
}

/* //画面上部写真部分*/

/* 体験一覧 */
.experience-contents{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20vh 0;
}

.experience-contents>.title {
  font-family: Hannotate SC;
  font-size: 5vh;
  line-height: 1;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 40px;
  left: 60px;
}

.experience-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.business-img {
  width: 33vh;
  height: 33vh;
}


/* //体験一覧 */