/* 画面上部写真部分*/
.title-contents{
  background-color: #2e83ad;
  display: flex;
  flex-direction: column;
  padding: 10vh 0;
}
.wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 340px;
}
.slide-paused:hover .slideshow {
  animation-play-state: paused;
}
.slideshow {
  display: flex;
  animation: loop-slide 20s infinite linear 1s both;
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.content {
  width: 300px;
  height: 300px;
  color: #fff;
}
.content:nth-child(1) {
  background-color: tomato;
}
.content:nth-child(2) {
  background-color: orange;
}
.content:nth-child(3) {
  background-color: blue;
}
.content:nth-child(4) {
  background-color: green;
}
.content-hover {
  transition: all 0.2s;
}
.content-hover:hover {
  transform: translateY(-20px);
  border-radius: 10% 10%;
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.8;
  cursor: pointer;
}

/* //画面上部写真部分*/

/* 体験一覧 */
.experience-contents{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20vh 0;
}

.experience-contents>.title {
  font-family: Hannotate SC;
  font-size: 5vh;
  line-height: 1;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 40px;
  left: 60px;
}

.experience-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.business-img {
  width: 33vh;
  height: 33vh;
}


/* //体験一覧 */