
/* 体験一覧 */
.experience-contents{
  background-color: #bfc3c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20vh 0;
}

.experience-contents>.title {
  font-family: Hannotate SC;
  font-size: 5vh;
  line-height: 1;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 40px;
  left: 60px;
}

/* //体験一覧 */